<form [formGroup]="fOrMeForm">
  <h2 mat-dialog-title>Ajouter une forme de courrier</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline">
      <mat-label>FoRMe</mat-label>
      <input matInput placeholder="Saisissez un genre" formControlName="forme_courrier" />
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button (click)="onSubmit()">Enregistrer</button>
  </mat-dialog-actions>
</form>
