<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>

<mat-card>
  <mat-card-content>Liste des genre de sexe
    <mat-icon (click)="openDialogAddCourrier()">add</mat-icon>
  </mat-card-content>
</mat-card>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="ref">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref</th>
      <td mat-cell *matCellDef="let row">{{ row.ref }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date_d'envoie</th>
      <td mat-cell *matCellDef="let row">{{ row.date }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
      <td mat-cell *matCellDef="let row">{{ row.details }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="objet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Objet</th>
      <td mat-cell *matCellDef="let row">{{ row.objet }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="fax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fax</th>
      <td mat-cell *matCellDef="let row">{{ row.fax }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="typefax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Typefax</th>
      <td mat-cell *matCellDef="let row">{{ row.typefax }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="correspondant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expéditeur</th>
      <td mat-cell *matCellDef="let row">{{ row.correspondant}}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="copieScanee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
      <td mat-cell *matCellDef="let row">{{ row.copieScanee }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="typecourrier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Typecourrier</th>
      <td mat-cell *matCellDef="let row">{{ row.typecourrier }}</td>
    </ng-container>
    
    <!-- Progress Column -->
    <ng-container matColumnDef="naturecourrier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Naturecourrier</th>
      <td mat-cell *matCellDef="let row">{{ row.naturecourrier }}</td>
    </ng-container>


    <!-- Progress Column -->
    <ng-container matColumnDef="forme">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Forme</th>
      <td mat-cell *matCellDef="let row">{{ row.forme }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="etat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Etat</th>
      <td mat-cell *matCellDef="let row">{{ row.etat }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="employee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
      <td mat-cell *matCellDef="let row">{{ row.employee}}</td>
    </ng-container>


    <!-- Fruit Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onUpdateCourrier(row.id)">
            <mat-icon>edit</mat-icon>
            <span>Modifier</span>
          </button>
          <button mat-menu-item (click)="onDeleteCourrier(row.id)">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
