<form [formGroup]="sexeForm">
  <h2 mat-dialog-title>Ajouter une categorie</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline">
      <mat-label>Genre</mat-label>
      <input matInput placeholder="Saisissez un genre" formControlName="genre" />
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button (click)="onSubmit()">Enregistrer</button>
  </mat-dialog-actions>
</form>
